# Ignore Visual Studio files
.vs/

# Ignore commit-related folder (if applicable)
.commits/

# Ignore compiled files
bin/
obj/

# Ignore Debug builds
bin/Debug/
obj/Debug/

# Ignore project-specific files
Banking System.sln
Banking System.csproj
